table {
  background-color: white;
}

input {
  max-width: 100%;
}
.table-wrapper {
  max-height: 823px;      
  overflow-y: auto;
  border: 1px solid #dee2e6;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
}

.add-stock-text {
  font-weight: 600;
  color: #0d6efd;
  cursor: pointer;
}

.add-stock-text:hover {
  text-decoration: underline;
}

.row-zero-drc {
  background-color: #801e1e; /* Light Red */
}

.row-positive-drc {
  background-color: #2b7c24; /* Light Green */
}

.edit_lastex{
    margin-left: 10px;
}

